/*
    *COLORS*
    font-color: white
    main-background:     #2b2e4a
    3 header&footer-background: #903749
*/

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    display: grid;
    background-color: #2b2e4a;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    grid-template: 100px 1fr 1fr 100px / 1fr 1fr;
    grid-template-areas: "header header"
                         "main aside"
                         "main aside"
                         "footer footer";
}

.header{
    grid-area: header;
    font-size: 1.4rem;
    background-color: #903749;
}

.header_nav{
    display: flex;
    height: 100px;
    align-items: center;
}

.header_nav:nth-child(1){
    margin-left: 8px;
}

.header_nav-link{
    margin-right: 8px;
    text-decoration: none;
    color: white;
}

.header_nav-link:hover{
    font-weight: bold;
    text-decoration: underline;
}



.main{
    grid-area: main;
    background-color: #2b2e4a;
    align-self: center;
    max-width: 400px;
    padding: 0 10%;
}
.main_text{
    font-size: 1.4rem;
}

.aside{
    grid-area: aside;
    background-color: #2b2e4a;
    align-self: center;
    max-width: 400px;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.aside_article{
    width: 100%;
}
.aside_article-text{
    font-size: 1.4rem;
}
.picture{
    display: none;
}

.footer{
    grid-area: footer;
    height: 100px;
    background-color: #903749;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footer_text{
    font-size: 1.2rem;
    margin-left: 5%;
}
.footer_icon-container{
    width: 9rem;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-right: 5%;
}
.footer_icon{
    width: 2rem;
}